.nav {
    color: #fff;
    font-size: 80px;
    display: inline-block;
    position: relative;
    z-index: 1;
}

.navbar_left {
    position: fixed;
    top: 0px;
    bottom: 0px;
    width: 300px;
    background-color: #fff;
    transition: all 800ms;
    z-index: 2;
}

.navbar_left.open {
    left: 0;
}
.navbar_left.close {
    left: -300px;
}

.leftbarbtn {
    z-index: 5;
    color: #00d8ff;
    position: absolute;
    left: 10px;
    top: 10px;
    cursor: pointer;
}

.header {
    position: absolute;
    right: 50px;
    bottom: 50px;
}

.transitionWrapper-appear {
    opacity: 0.01;
    margin-left: 100%;
    -webkit-transition: all 1.5s;
    transition: all 1.5s;
}

.transitionWrapper-appear.transitionWrapper-appear-active {
    margin-left: 0px;
    opacity: 1;
}

.transitionWrapper-enter {
    opacity: 0.01;
    margin-left: 100%;
    -webkit-transition: all 1.5s;
    transition: all 1.5s;
}

.transitionWrapper-enter.transitionWrapper-enter-active {
    margin-left: 0px;
    opacity: 1;
}

.transitionWrapper-leave {
    opacity: 1;
    margin-left: 0px;
    -webkit-transition: all 1.5s;
    transition: all 1.5s;
}

.transitionWrapper-leave.transitionWrapper-leave-active {
    margin-left: -100%;
    opacity: 0.01;
}