.mainpage {
    background-color: #222222;
    vertical-align: middle;
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.mainContent {
    padding: 20px;
    margin: 0 auto;
}

.toolBar {
    margin: 10px 0;
}

.actions {
    display: inline-block;
}

.actions a {
    display: inline-block;
    margin: 0 10px 0 0;
    cursor: pointer;
}